:root{
  --azzuro-nav: #0084FD;
  --azzurro-chiaro: #B5DDFF;
  --secondary-color-bg: #9792E4;
  --yellow-text: #FDC15F;
  --footer-bg: #333333;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generics */
/* HEADER */
header{
  background-color: var(--azzuro-nav);
  min-height: 50px;
  color: #fff;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.nav-flex{
  padding: 1rem 2rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  width: 100px;
  height: 40px;
}

.menu li{
  display: inline-block;
  font-size: 17px;
}

li a{
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
}

a.button-nav{
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border-radius: 10px;
}

/* MAIN */
main{
  padding-top: 80px;
}
/* Section card azzurre */
.button-app{
  text-decoration: none;
  color: #fff;
  background-color: var(--azzuro-nav);
  padding: 10px 70px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
}

.fa-apple{
  margin-right: 10px;
}

.iphone{
  margin: auto;
  margin-top: 40px;
  width: 270px;
  height: 300px;
  display: block;
}

.fa-file-code, .fa-compass-drafting,
.fa-laptop-code, .fa-bullhorn{
  color: var(--azzuro-nav);
  text-align: center;
  font-size: 50px;
}

/* Section Strategic */
.img-bg-secondary{
  width: 100%;
  height: 400px;
}

.fa-arrow-down-long{
  line-height: 50px;
}

.img-bg-white{
  width: 100%;
  height: 400px;
  padding: 30px;
}

/* Section testimonials */
.text-lilla{
  color: var(--secondary-color-bg);
}

h2.text-lilla{
  font-size: 50px;
}

.img-round{
  width: 220px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

/* Section benefits */
.button-lilla{
  background-color: var(--secondary-color-bg);
  color: #fff;
  text-decoration: none;
  padding: 10px 50px;
  letter-spacing: 3px;
  border-radius: 20px;
}

/* Section about */
.img-round-about{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.button-lilla-about{
  background-color: var(--secondary-color-bg);
  color: #fff;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 20px;
}

p.text-lilla{
  font-size: 20px;
  font-weight: bold;
}

/* Section get started */
h3.text-white{
  font-size: 40px;
}

h2.text-yellow{
  font-size: 60px;
  color: var(--yellow-text);
}

.button-white-large{
  background-color: #fff;
  color: var(--secondary-color-bg);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 70px;
  border-radius: 30px;
}

.underline-white{
  text-decoration: underline;
}

/* Footer */
footer{
  color: #fff;
}


.underline-lilla{
  text-decoration: underline;
  color: var(--secondary-color-bg);
}


/* Utils */
body{
  font-family: 'PT Sans', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

section{
  padding: 2rem 2rem;
}

div.container{
  padding: 2rem 2rem;
}

.bg-azzurro{
  background-color: var(--azzurro-chiaro);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0 30px;
  padding-top: 30px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

.mb-50{
  margin-bottom: 50px;
}

h2.title-bg-azzurro{
  color: var(--azzuro-nav);
}

.p-bg-azzurro{
  color: #5A6E7F;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.text-center{
  text-align: center;
}

.pad-bot{
  padding-bottom: 190px;
}

.pad-bot-20{
  padding-bottom: 20px;
}

.text-white, .p-text-white{
  color: #fff;
}

.pos-rela{
  position: relative;
}

.fa-quote-left-id{
  color: var(--secondary-color-bg);
}

/* Utils secondary color */
.bg-secondary{
  background-color: var(--secondary-color-bg);
}

.bg-white-down{
  background-color: #fff;
  border-radius: 20px;
  color: #000;
  padding: 1px 15px;
}

.circle-lilla{
  background-color: var(--secondary-color-bg);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.bg-secondary-rounded{
  background-color: var(--secondary-color-bg);
  border-radius: 20px;
  color: #fff;
  padding: 20px 5px;
}

.bg-white{
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.bg-grey{
  background-color: var(--footer-bg);
}
/* Media query */
@media screen and (min-width: 480px) {
  .container{
    width: 100%;
  }
  
  .fa-bars{
    display: inline-block;
    font-size: 20px;
  }

  ul{
    display: none;
  }

  .pad-bot{
    padding-bottom: 20px;
  }

  h2.title-text-white{
    font-size: 30px;
  }

  .img-lefth{
    text-align: center;
    margin-bottom: 20px;
  }

  .text-right p, h3{
    text-align: center;
  }

  .text-white-lilla{
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .col-lilla{
    margin-bottom: 20px;
  }

  .about-right{
    text-align: left;
  }

  .fa-quote-left-id{
    position: absolute;
    top: 10px;
    right: 280px;
    font-size: 30px;
  }

  p.text-white{
    width: 100%;
    margin: auto;
  }

}

@media screen and (min-width: 768px) {
  .container{
    max-width: 750px;
  }
  
  .fa-bars{
    display: inline-block;
    font-size: 20px;
  }

  ul{
    display: none;
  }

  .pad-bot{
    padding-bottom: 106px;
  }

  .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .col{
    width: calc(100% / 3);
    padding: 10px;
  }

  .large-col{
    width: 67%;
  }

  .small-col{
    width: 33%;
  } 

  .img-bg-secondary{
    height: 550px;
    padding: 30px;
  }

  h2.title-text-white{
    font-size: 50px;
  }

  .img-bg-white{
    height: 550px;
  }

  .flex-bg-lilla{
    display: flex;
    align-items: center;
  }

  .text-right p, h3{
    text-align: left;
  }

  .col-lilla{
    width: calc(100% / 2);
    padding: 10px;
  }

  .flex-about{
    display: flex;
  }

  .about-left{
    width: 70%;
    margin-right: 20px;
  }

  .about-right{
    width: 30%;
  }

  .fa-quote-left-id{
    position: absolute;
    top: 10px;
    right: 60px;
    font-size: 30px;
  }

  p.text-white{
    width: 60%;
    margin: auto;
  }

  footer p {
    width: 40%;
    margin: auto;
  }
  

}

@media screen and (min-width: 992px) {
  .container{
    max-width: 970px;
  }

  .fa-bars{
    display: none;
  }

  ul{
    display: inline-block;
  }

  .pad-bot{
    padding-bottom: 225px;
  }

  .img-bg-secondary{
    height: 650px;
    padding: 80px;
  }

  .img-bg-white{
    height: 650px;
    padding: 80px;
  }

  .flex-bg-lilla{
    display: flex;
    align-items: center;
  }

  .col-lilla{
    width: calc(100% / 3);
    padding: 10px;
  }

  .fa-quote-left-id{
    position: absolute;
    top: 10px;
    right: 130px;
    font-size: 30px;
  }

  p.text-white{
    width: 60%;
    margin: auto;
  }
  
}

@media screen and (min-width: 1200px) {
  .container{
    max-width: 1140px;
  }
  
  ul{
    display: inline-block;
  }

  .flex{
    display: flex;
  }

  .left-card{
    width: 60%;
  }

  .right-card{
    width: 40%;
  }

  .pad-bot{
    padding-bottom: 50px;
  }

  .left-img-text{
    width: 50%;
  }

  .img-bg-secondary{
    height: 500px;
    padding: 80px;
  }

  .right-img-text{
    width: 50%;
    padding-left: 80px;
    padding-top: 80px;
    padding-right: 80px;
  }

  h2.title-text-white{
    font-size: 40px;
  }

  .title-text-white, .p-text-white{
    padding: 0 80px;
  }

  .img-bg-white{
    width: 260px;
    height: 260px;
    margin: 0 40px;
    padding: 0;
  }

  .bg-white-down{
    margin-top: 130px;
  }

  .about-left{
    width: 80%;
    margin-right: 20px;
  }

  .about-right{
    width: 20%;
  }

  .fa-quote-left-id{
    position: absolute;
    top: 10px;
    right: 70px;
    font-size: 30px;
  }

  section.bg-secondary p.text-white{
    width: 40%;
  }

  p.text-white{
    width: 60%;
    margin: auto;
  }
  
}